<ion-view view-name="tab-dash" view-title="About Mathaf">
    <ion-nav-bar class="bar-stable">
       <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-home" href="#/dash"></a>

        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content class="padding">

<div class="aboutImage">
      <img src="img/aboutMathaf.png" alt="art piece">
    </div>
    <div class="homePage">
      <p class="mathafIntro">
      Mathaf: Arab Museum of Modern Art, founded in 2010, is situated in Education City in Qatar Foundation (QF), in a renovated former school building. QF is led by HH Sheikha Moza bint Nasser. Mathaf is part of Qatar Museums, led by H.E. Sheikha al-Mayassa bint Hamad bin Khalifa Al Thani.
    </p>

    <p class="mathafBackground">
      Mathaf Collection, co-owned by Qatar Museums and Qatar Foundation, is now holding over 9,000 works, making it the world’s largest specialised collection of its kind. An initial group of works was gathered by H.E. Sheikh Hassan bin Mohammed bin Ali Al Thani. <br>

      Mathaf organises major exhibitions, both historical and experimental, and large-scale education programs performing an important role as a centre for dialogue, research, and a resource for fostering creativity. Mathaf hosts solo and group exhibitions by artists from the region, and events that explore and celebrate modern and contemporary art.
    </p>


  </div>
  <hr>

  <div class="teamInfo">
    <p class="appV"> MatApp V 1.0 </p>
    <p class="appTeam"> Developers: </p>

    <div class="teamNames">
      <ul style="list-style-type:circle">
          <li>Farjana Salahuddin</li>
          <li>Haneen Shariff</li>
          <li>Reem Al Mohannadi</li>
          <li>Syed Hayyan Rizvi</li>
      </ul>
    </div>

    <div class="about_logo">
    <img src="img/qm-qf-logo.png" alt="logo">
  </div>
    
  </ion-content>
</ion-view>
