<!-- <ion-view view-title="Welcome"> -->
<ion-view>
  <ion-content>

 <div class="something ">
      <img class="branding1" src="img/background1.jpg" alt="mathaf background">
      <img class="branding2" src="img/logo1.png" alt="mathaf logo">
    </div>
    <a class="explore1 animated pulse infinite" href="#/tab/dash-explore">
    	<img src="img/explore.jpg" alt="mathaf explore">
    </a>
    <a class="about1" href="#/tab/dash-about">
    	<img src="img/about.jpg" alt="mathaf about">
    </a>


  </ion-content>
</ion-view>
