<ion-view>
  <ion-content>
  

        <div class="branding1">
      <img src="img/main_background.jpg" alt="mathaf background">
    </div>

    <div class="branding2">
      <img id="logo_image" src="img/Mathaf-logo.png" alt="mathaf logo">
    </div>

    <div class="explore1 animated slideInLeft">
      <a href="#/tab/dash-explore"><img src="img/explore.png" alt="mathaf explore"></a>
    </div>

    <div class="about1 animated slideInRight">
      <a href="#/tab/dash-about"><img src="img/about.png" alt="mathaf about"></a>
    </div>


  </ion-content>
</ion-view>
