<ion-view view-title="Welcome">
  <ion-content class="padding">
    <h2>MatApp HomePage</h2>
<!--     <button class="button", ng-click="dash.scanBarcode()">Scan the code</button>
</br>
    scannerID: {{dash.scannerID}}</br>
    id_num: {{dash.id_num}}</br>
    disp: {{dash.display}}</br></br> -->

    <button class="button", ng-click="dash.play('http://www.stephaniequinn.com/Music/Commercial%20DEMO%20-%2013.mp3')">Play Audio</button></br></br>

    <button class="button", ng-click="dash.getData()">Get Data from server</button></br>
    Check: {{dash.check}}
<!--     <button class="button", ng-click="dash.pause()">Pause</button>
    <button class="button", ng-click="dash.stop()">Stop</button> -->


<!--     Are they coming??
    {{dash.id}}
    dash.id_num
    {{dash.display}} -->

  </ion-content>
</ion-view>
