
/* Scanner view */
.tutorial img{
  width: 100%;
}

.load{
  position:fixed;
  top:200px;
  left: 35%;
  
}
.artWork{
 height: 250px;
 width: 100%;
 overflow: hidden;
 padding: 7%;
 
}

.artWork img{
  height: auto;
  width: 100%;
}

#audioLoad{
  position: fixed;
  top:270px;
}

#audioButton{
  position: fixed;
  top:260px;
  right:15px;
}
.about_logo img{
  width:50%;
}

.about_logo{
  position: fixed;
  left:35%;
}
#textButton{
  position: fixed;
  top:300px;
  right:15px;
}

/*.scan_explore1 img{
  text-align: center;
}

.scan_explore1{
  margin-left: 80px;
  margin-top: 100px;
  position: relative;
  bottom:600px;
  
}

.scan_about1{
  margin-left: 80px;
  position: relative;
  bottom:600px;
  
}
*/
#artist{
  font-size: 120%;
  font-family: helvetica;
  font-weight: bold;
  margin-left: 10px;
}
#title{
  font-size: 110%;
  font-family: helvetica;
  margin-top: -3px;
  margin-left: 10px;
}

#text{
  font-size: 90%;
  font-family: helvetica;
  margin-left: 15px;
  margin-right: 15px;
}

#nation{
  font-size: 110%;
  font-family: helvetica;
  margin-top: -3px;
  margin-left: 10px;
}

/*.topLeft{
  margin-top: -700px;
  padding-left: 15px;
}

.topRight{
  margin-left: 330px;
  margin-top: -30px;

}*/
/*--- Home Page ----*/

/*.branding1 img{
  width: 400px;
  height: 650px;
}*/

.branding1 img{
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.branding2 {
  position:fixed;
  top:70px;
  left:10%;

  

}

#logo_image{
  width: 90%

}

.explore1 img{
  text-align: center;
}

.explore1{
  position:fixed;
  top:250px;
  left: 25%;

  
}

.about1{
  position:fixed;
  top:350px;
  left: 25%;
  
}


/*--- About Page ----*/

.mathafIntro{
  font-size: 75%;
  font-family: helvetica;
  font-weight: bold;
  color: white;
  background-color: #333333;
  padding: 15px;
  margin-top: 5px;
  font-style: italic;
}

.mathafBackground{
  font-size: 70%;
  font-family: helvetica;
  padding: 15px;
  margin-top: -20px;

}

.aboutImage img{
  width: 100%;
}

.teamInfo{
  margin-left: 15px;

}

.appV {
  font-size: 80%;
  font-family: helvetica;
  font-weight: bold;
}

.appTeam {
  font-size: 80%;
  font-family: helvetica;
  font-weight: bold;
  margin-top: -10px;
}

.teamNames{
  font-size: 75%;
  font-family: helvetica;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 20px;

}


